%h1 РЕКВИЗИТЫ

%br/

%div Индивидуальный предприниматель Моисеев Алексей Анатольевич
%divг. Санкт-Петербург, ул. Авиационная, д.40
%div ОГРНИП 308784735700602
%div ИНН 381705750170
%div Расчётный счёт №40802810770050006291 в Филиале №14 АКБ МОСОБЛБАНК ОАО в г. Санкт-Петербург
%div Кор. счёт №30101810900000000907
%div БИК 044030907
