<h1> Часто задаваемые вопросы</h1>

<p><strong> 1. В какое время возможно вызвать кран манипулятор?</strong></p>
<p> Ответ: Компания организация оказывает услуги круглосуточно, поэтому заказать кран-манипулятор можно в любое время дня и ночи.</p>
<p><strong> 2. Какие грузы и транспортные средства возможно перевезти с помощью вашей компании?</strong></p>
<p> Ответ: Мы перевозим строительные бытовки, контейнеры, бани, любой легковой автомобильный транспорт, а также различные погрузчики, катки, спецтехнику, оборудование, стройматериалы, деревья и многие другие грузы. Помимо этого существует возможность перевозки негабаритных грузов.</p>
<p><strong> 3. Какие условия необходимы для  перевозки не новой бытовки?</strong></p>
<p> Ответ: Для перевозки бытовки необходимо, чтобы она была отключена от электричества и к ней можно было подъехать как можно ближе.</p>
<p><strong> 4. В каких случаях заказывают 5-ти тонный манипулятор для перевозки стандартной бытовки?</strong></p>
<p> Ответ: Для перевозки стандартной (длина 6,0м; ширина 2,40-2,55м; высота 2,50м) бытовки 5-ти тонным манипулятором необходимо чтобы:</p>
<ul>
  <li> бытовка была пустая внутри.</li>
  <li> манипулятор мог подъехать к ней вплотную кузовом параллельно к бытовке.</li>
  <li> Во всех других случаях - когда надо снять бытовку со 2-го этажа, когда она стоит перпендикулярно кузову,        поставить через забор, когда длина бытовки больше 6 метров и т.д. нужна более мощная машина, которая будет стоить немного дороже.</li>
</ul>
<p><strong> 5. Как быстро приезжает машина после звонка?</strong></p>
<p> Ответ: Обычно машина приезжает в течение 1-2 часов после звонка. Предпочтительнее заказывать машину минимум за день. Мы работаем в праздничные и выходные дни.</p>
<p><strong> 6. Как много машин насчитывает автопарк компании?</strong></p>
<p> Ответ: Компания содержит автопарк, насчитывающий 9 машин различной грузоподъемности, что позволяет выполнять практически любые задачи.</p>
<p><strong> 7. Какие существуют гарантии качественного выполнения работ?</strong></p>
<p> Ответ: Автопарк нашей компании состоит из современных машин, оборудованных краном-манипулятором различной грузоподъемности. У нас работают опытные водители, которые доставят ваш груз или транспортное средство в назначенное место с соблюдением всех мер безопасности, быстро и качественно.</p>
<p><strong> 8. Куда вызывать машину, если неизвестен точный адрес места (к примеру, автотрасса или проселочная дорога)?</strong></p>
<p> Ответ: Совершая звонок в компанию, постарайтесь как можно точнее описать ваше местонахождение: дать название трассы или ближайшего населенного пункта, наличие рядом дорожных знаков или приметных географических объектов. Мы примем заявку после уточнения места подачи автоманипулятора.</p>
<p><strong> 9. Предоставляет ли ваша компания услуги перевозки бытовок, железных гаражей и подобных конструкций, если подъезд к ним затруднен или они находятся на втором этаже?</strong></p>
<p> Ответ: Да, мы предоставляем разнообразные погрузочно-разгрузочные и транспортные услуги, поэтому вы можете без проблем поместить заказ на перевозку бытовки или гаража, для чего будет выслан соответствующий запросу автомобиль с краном-манипулятором.</p>
<p><strong> 10. Чем ваша компания отличается от конкурентов, и какие преимущества получу я, обращаясь к вам?</strong></p>
<p> Ответ: Наша компания предоставляет своим клиентам круглосуточное оперативное обслуживание с выездом по любому адресу Москвы и области. В нашем распоряжении находится автопарк современной техники и штат водителей-профессионалов, которые выполнят свою работу быстро, квалифицированно и с соблюдением всех требований безопасности.</p>
