<% @title = "Аренда манипулятора - фотогалерея" %>

<h1>Фотогалерея</h1>
					
<div class="fotogallery">
  <a rel="prettyPhoto[pp_gal]" href="/assets/fullscreen/manipulyator/full_0046.jpg" title=""><img src="/assets/thumbnails/manipulyator/thumb_0046.jpg" width="200" alt="" /></a>
  <a rel="prettyPhoto[pp_gal]" href="/assets/fullscreen/manipulyator/full_0048.jpg" title=""><img src="/assets/thumbnails/manipulyator/thumb_0048.jpg" width="200" alt="" /></a>
  <a rel="prettyPhoto[pp_gal]" href="/assets/fullscreen/manipulyator/full_0077.jpg" title=""><img src="/assets/thumbnails/manipulyator/thumb_0077.jpg" width="200" alt="" /></a>

</div>

