<h1>Фотогалерея</h1>
					
<div class="fotogallery">
  <a rel="prettyPhoto[pp_gal]" href="/assets/fullscreen/bokaly/bokal_1.jpg" title="You can add caption to pictures."><img src="/assets/fullscreen/bokaly/bokal_1.jpg" width="200" alt="Бокал номер 1, цена 4000 рублей" /></a>
  <a href="/assets/fullscreen/bokaly/bokal_2.jpg" rel="prettyPhoto[pp_gal]" title="You can add caption to pictures."><img src="/assets/fullscreen/bokaly/bokal_2.jpg" width="200" alt="Бокал номер 1, цена 4000 рублей" /></a>
</div>

