#encoding: UTF-8
-@title = "Аренда манипулятора"

%h1 Кран манипулятор для перевозки грузов по СПб и Лен.обл. Низкие цены.
%p
  Кран-манипулятор – специальное устройство, позволяющее перевозить и перемещать тяжелые грузы и объекты. Основное его преимущество – сочетание сразу трех различных функций. Эта машина работает одновременно как грузовой автомобиль, как погрузчик и как кран.

%h2 Что позволяет перевезти автоманипулятор
%ul
  %li 
    стройматериалы (начиная от пено блоков и колец колодцев, заканчивая кирпичом, ЖБИ);
    металлоконструкции (ограждения, заборы), кабели в катушках, сейфы;
  %li 
    бытовки, блок контейнеры;
  %li 
    станки, тяжелое оборудование, спецтехнику;
  %li 
    генераторы и небольшие электростанции;
  %li 
    рекламные щиты;
  %li 
    катера
%p 
  Наш манипулятор осуществляет перевозки круглосуточно, качественно и без повреждения груза.
%h2 
  Почему выгодна аренда крана манипулятора в СПб
%p 
  Не все могут позволить собственный штат спецтехники. Манипулятор в аренду – это не только выгодно, но и удобно. Кран манипулятор быстро приедет на место, а водитель – оператор бережно разместит груз на платформе и перевезет его без повреждений. Вы можете значительно сэкономить, заказывая одну машину, вместо двух. Аренда грузового автомобиля и погрузчика по отдельности обойдется гораздо дороже.

%h2 Почему мы

%p
  Сделав заказ манипулятора в Санкт-Петербурге, вы можете быть уверенными в качестве и оперативности работ. Ваш груз будет доставлен в нужное место быстро и аккуратно. Все ньюансы перевозки и цены указываются в договоре, который мы неукоснительно соблюдаем. Мы дорожим каждым клиентом и предоставляем постоянным заказчикам специальные бонусы и скидки.

%p
  Заказать автоманипулятор можно круглосуточно. Просто позвоните по телефону нашему диспетчеру, и он зарезервирует необходимую технику на выбранный вами день и час. Итоговая цена на услуги определяется несколькими факторами: 

%ul
  %li расстоянием перевозки
  %li весом
  %li объемом груза
  %li возможным простоем техники

%p В любом случае, аренда манипулятора доступна любому жителю Санкт-Петербурга.
