<% @title = "Цена на аренду манипулятора, прайс, стоимость" %>

<h1>Цены на аренду манипулятора</h1>
<br />
<table class="price_table" cellpadding="5" cellspacing="0" width="100%" font-size="18px">
  <tbody>
    <tr>
      <td>Грузоподъемность платформы, тонн</td>
      <td>14 т</td>
    </tr>
    <tr>
      <td>Грузоподъемность крана, тонн</td>
      <td>5 т</td>
    </tr>
    <tr>
      <td>Габариты платформы, метр</td>
      <td>11 x 2,35 м</td>
    </tr>
    <tr>
      <td>Длина стрелы, метр</td>
      <td>10,5 x 12 м</td>
    </tr>
    <tr>
      <td>Смена</td>
      <td>4 + 1</td>
    </tr>
    <tr>
      <td>Цена 1км за КАД, руб.</td>
      <td>35 руб. *</td>
    </tr>
    <tr>
      <td>Цена часа, руб.</td>
      <td>от 1200 руб.**</td>
    </tr>
    <tr>
      <td>Оплата за смену, руб.</td>
      <td>от 6000 руб.</td>
    </tr>
  </tbody>
</table>

<p>(*) Цена по межгороду - договорная<br />
(**)цена часа работы, в зависимости от габаритов:<br />
до 6 метров и 5 тонн - 1200 р.,<br />
до 9 метров и до 10 тонн - 1350 р.<br />
более 9 метров и более 10 тонн -1500 р.</p>

