<% @title = "Цена на аренду манипулятора, прайс, стоимость" %>

<h1>Цены на аренду манипулятора</h1>

<table cellpadding="5" cellspacing="0">
  </tbody>
    <tr>
      <td>Грузоподъемность платформы, 
тонн</td>
      <td>Грузоподъемность крана,
тонн</td>
      <td>Смена</td>
      <td>Цена 1км за КАД, руб.</td>
      <td>Цена часа,
руб.</td>
      <td>Оплата за смену,
руб.</td>
    </tr>
    <tr>
      <td>14</td>
      <td>3</td>
      <td>4+1</td>
      <td>35,00</td>
      <td>1200,00</td>
      <td>6000,00</td>
    </tr>
  </tbody>
</table>

<br />

<table cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
      <td>Грузоподъемность платформы, тонн</td>
      <td>14 м</td>
    </tr>
    <tr>
      <td>Грузоподъемность крана, тонн</td>
      <td>3 т.</td>
    </tr>
    <tr>
      <td>Габариты платформы, метр</td>
      <td>9 x 2,4 м</td>
    </tr>
    <tr>
      <td>Длина стрелы, метр</td>
      <td>10,5 x 12 м</td>
    </tr>
    <tr>
      <td>Смена</td>
      <td>4 + 1</td>
    </tr>
    <tr>
      <td>Цена 1км за КАД, руб.</td>
      <td>35 руб. *</td>
    </tr>
    <tr>
      <td>Цена часа, руб.</td>
      <td>от 1200 руб.**</td>
    </tr>
    <tr>
      <td>Оплата за смену, руб.</td>
      <td>от 6000 руб.</td>
    </tr>
  </tbody>
</table>

<p>(*) Цена по межгороду - договорная<br />
(**)цена часа работы, в зависимости от габаритов:<br />
до 6 метров и 5 тонн - 1200 р.,<br />
9-10 м. или больше 10т. - 1350 р.</p>
    
