-@title = "Услуги по аренде манипулятора"

%h1 Услуги по аренде крана манипулятора 

%p Наша компания специализируется по аренде крана манипулятора в Санкт-Петербурге и ленинградской области. На протяжении уже многих лет мы принимаем непосредственное участие в строительстве. Наша задача - на основании полученной заявки предоставить необходимый кран манипулятор аренда, оказать услугу по аренде манипулятора в указанное время и срок. 
%p Почему наша компания специализируется на аренде кранов манипуляторов в спб, спросите Вы. Потому что кран манипулятор - уникальная техника, которая зарекомендовала себя на рынке. Тем более если рынком является мегаполис, такой как г. Санкт-Петербург. Самое важное преимущество крана манипулятора - естественно экономите денежных средств. Манипулятор при выполнении своих обязанностей готов самостоятельно осуществить погрузку груза, доставку его в необходимое место и благополучно, самостоятельно выполнить разгрузку. Аренда манипулятора Петербург по себестоимости будет стоить в 1,5 - 2 раза дешевле услуг крана и шаланды в тандеме.


%h2 Наши возможности по организации перевозки груза краном манипулятором

%p Наша компания предлагает следующие услуги погрузки и перевозке грузов по Спб:

%ul
  %li Перевозка бытовок
  %li Перевозка контейнеров
  %li Перевозка генераторов и электростанций
  %li Перевозка рекламных щитов 
  %li Перевозка металлоконструкций
  %li Перевозка станков и оборудования
  %li Перевозка стройматериалов
  %li Перевозка кабеля
  %li Перевозка торговых гаражей
  %li и много другого груза. 

%p Перевозка всех указанных грузов осуществляется быстро, профессионально, качественно и в срок. 

%h2 Наши конкурентные преимущества

%p При погрузке на борт крана манипулятора любого груза, используется профессиональный крепежный материал. 
%p -Наши сотрудники проявляют максимальную бдительность при осуществлении крепления груза к борту крана манипулятора.
%p -Мы заключаем договора на оказание услуг, которые предварительно были проработаны представителями юридической фирмы. 
%p -Наша компания работает круглосуточно по предоставлению услуг аренды крана манипулятора.
%p -Наша техника не дает сбоев в работе и периодически обслуживается на профессиональных станциях тех. обслуживания
%p Готовы предложить Вам максимально удобный и экономически целесообразный вариант перевозки груза - одновременный      заказ для перевозки груза крана манипулятора и шаланды. Работая в тандеме, такой вариант позволит снизить затраты и повысит Вашу рентабельность!
