/*
 *= require_self
 *= require_tree .
 */

body
  margin: 0
  padding: 0

.holder
  width: 980px
  margin: 0 auto
  border: 1px solid black


#header
  background: url('head44.jpg')
  width: 980px
  height: 270px
  position: relative
  margin-bottom: 10px

#header #teaser
  position: absolute
  background: url('teaser.jpg')
  top: 172px
  left: 384px
  width: 579px
  height: 78px

#swf_truck
  padding: 8px 0 0 25px

#teaser p
  font-size: 13px
  color: #434343
  width: 484px
  padding: 0
  margin: 0
  position: relative
  top: 14px
  left: 85px

#left_column
  float: left
  width: 204px
  height: 180px
  margin: 0 25px 0 30px


#left_column ul 
  list-style-type: none
  margin: 0
  padding: 0


#left_column ul li 
  background: url('menu.jpg')
  width: 180px
  height: 25px
  margin-bottom: 3px
  padding: 2px 0 0 24px

#left_column ul li a
  color: #1d5870
  font-size: 14px
  text-decoration: none
  font-weight: bold

#left_column img
  margin-top: 15px

#center_column 
  float: left
  width: 450px
  height: 100%
  background-image: url('orange-line.png')
  background-position: top center
  background-repeat: no-repeat
  
#center_column h1 
  font-size: 17px
  color: #d76503
  margin: 26px 0 0 0

#center_column h2 
  font-size: 14px
  color: #d76503

#center_column p 
  font-size: 13px
  color: #434343
  font-family: Tahoma

#center_column ul li 
  font-size: 13px
  color: #434343
  font-family: Tahoma

#right_column 
  float: left
  width: 226px
  height: 361px
  margin-left: 25px
  text-align: center

#right_column p.form_header
  background: url("forma-1.jpg") repeat scroll 0 0 transparent
  padding-top: 6px
  margin: 0
  height: 20px
  width: 226px
  font-weight: bold
  color: #1d5870
  font-size: 14px

#clear 
  clear: both

#footer
  width: 980px
  height: 100px
  background: url('footer-line.png') repeat-x
  position: relative
  border-top: 1px solid black

#gears
  background-image: url("gears.png")
  height: 90px
  position: absolute
  top: 11px
  width: 93px

#footer_links
  background-image: url("footer-links.png")
  height: 30px
  position: absolute
  top: 32px
  left: 60px
  width: 77px

#footer_tel
  background-image: url("footer-tele2.png")
  background-repeat: no-repeat
  height: 38px
  position: absolute
  top: 49px
  left: 164px
  width: 143px

#footer_tel p
  padding: 0
  margin: 0
  font-size: 11px
  position: absolute
  top: -18px

table tr td
  font-size: 12px
  border-width: 1px
  border-spacing: 2px
  border-style: outset
  border-color: gray
  border-collapse: collapse
  background-color: white
