/*
 *= require_self
 *= require_tree .
*/
body {
  margin: 0;
  padding: 0;
}

.holder {
  width: 980px;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  background: url('head980tel.jpg');
  width: 980px;
  height: 270px;
}
