.field input
  width: 183px
.field textarea 
  width: 183px
  height: 70px
#top_form
  background: url("forma-up.jpg") repeat scroll 0 0 transparent
  height: 200px
#bottom_form
  background: url("forma-down.jpg") repeat scroll 0 0 transparent
  height: 135px
label
  color: #1d5870
  font-size: 14px
  font-weight: bold
#top_form select
  width: 183

