#encoding: UTF-8
!!!
%html
  %head
    =content_tag :title, @title
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"
    =csrf_meta_tags
  %body
    #container
      .holder
        %header
          #teaser
        #left_column
          %ul
            %li Главная
            %li Цены
            %li Услуги
            %li Информация
            %li FAQ
        #center_column
          =yield
        #right_column
          %p Order form
        #clear
        #footer
